body {
    background-color: white;
}
/* .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
} */
img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
#nextBtn, #backBtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
}
/* .responsive {
    width: 35%;
    height: auto;
} */
/* .content {
    width: 50%;
    padding: 10px;
} */
/* .container { */
    /* font-size: 20px;
    top: 30px;
    left: 30px;
    right: 30px;
    padding: 10px; */
    /* position: relative; */
    /* width: 40%; */
    /* border: 2px solid blue;	 */
/* } */
.container {
    position: relative;
    width: 100%;
    max-width: 450px;
}
.container1 {
    position: relative;
    width: 100%;
    max-width: 350px;
}
.text {
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
}
/* .container {
    padding: 10px;
    max-width: 300px;
    height: auto;
} */

/* .fadeinout
{
    animation: fadeinout 4s infinite;
}
@keyframes fadeinout
{
    0%{
    opacity:0;
    }
    50%
    {
    opacity:1;
    }
    100%
    {
    opacity:0;
    }
} */
/* #yesBtn {
    visibility: hidden;
} */
.container #yesBtn {
    position: absolute;
    top: 55%;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #879F8D;
    color: white;
    font-size: 14px;
    padding: 3px 15px;
    cursor: pointer;
    border-radius: 16px;
    border: none;
    visibility: hidden;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
    /* height: 10px; */
    /* background-image: url('img/yes-btn.png'); */
    /* width: 100px;
    height: 100px; */
    
}
.container #noBtn {
    position: absolute;
    top: 55%;
    left: 60%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* background-color: #B3773F; */
    background-color: #CC5144;
    color: white;
    font-size: 14px;
    padding: 3px 15px;
    cursor: pointer;
    border-radius: 16px;
    border: none;
    visibility: hidden;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
    /* height: 10px; */
}
#backBtn {
    position: absolute;
    bottom: 30px;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    /* background-color: #CC5144; */
    border: 2px solid #B38970;
    color: #B38970;
    font-size: 15px;
    padding: 10px 23px;
    cursor: pointer;
    border-radius: 10px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
    /* height: 10px; */
}
#nextBtn {
    position: absolute;
    bottom: 30px;
    left: 60%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #B38970;
    /* background-color: #CC5144; */
    border: 2px solid #B38970;
    color: white;
    font-size: 15px;
    padding: 10px 23px;
    cursor: pointer;
    border-radius: 10px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
    /* height: 10px; */
}

#myForm {
    visibility: hidden;
    position: absolute;
    top: 33%;
    left: 25%;
    /* opacity: 50%; */
}

#fname {
    width: 225px;
    height: 180px;
    resize: none;
    border-radius: 8px;
    border: none;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 14px;
    padding: 5px;
    color: #B38970;
    margin-top: 8px;
}

#delBtn {
    position: absolute;
    /* top: 30%;
    left: 30%; */
    background-color: #CC5144;
    color: white;
    border-radius: 50%;
    width: 30px;
    border: none;
    /* font-size: 20px; */
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
    margin-top: 7px;
}

#addBtn {
    position: absolute;
    left: 40%;
    background-color: #B08365;
    color: white;
    border: none;
    border-radius: 14px;
    padding: 6px 15px;
    top: 440px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
    font-size: 14px;
    visibility: hidden;
    /* font-size: 13px; */
}

#fnameList {
    width: 187px;
    border-radius: 8px;
    border: none;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 14px;
    padding: 5px;
    color: #B38970;
    top: 35%;
    left: 25%;
    position: absolute;
    visibility: hidden;
}

/* #newElementId {
    width: 187px;
    border-radius: 8px;
    border: none;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 14px;
    padding: 5px;
    color: #B38970;
} */

/* 
.container #yesBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
} */




/* @media screen and (max-width: 2000px) and (min-width: 1000px){
    img {
    width: 70%;
    }
} */
@media screen and (max-width: 1400px) and (max-height: 600px){
    img {
    max-width: 320px;
    }
}
/* @media screen and (max-width: 1400px){
    img {
    max-width: 450px;
    }
} */
@media screen and (max-width: 910px){
    img {
    max-width: 400px;
    }
}
@media screen and (max-width: 480px) {
    img {
    max-width: 300px;
    }
}
/* @media screen and (max-width: 2000px){
    img {
    max-width: 50%;
    }
} */
/* @media (orientation: landscape) {
    img {
    width: 35%;
    }
}
@media (orientation: portrait) {
    img {
    width: 100%;
    }
} */